:root {
    --main-blue: rgba(40, 120, 226, 89);
    --second-blue: rgb(36, 144, 207);
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

header {
    position: relative;
}

header::after {
    position: absolute;
    top: 112%;
    content: "";
    border-bottom: 1px solid rgba(40, 120, 226, 89);
    width: 100%;
}

.nav {
    padding: 0 40px;
    height: 57px;
    display: flex;
    justify-content: space-between;
}

.logo {


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-img {
    height: 40px;

}

.menu-list {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.menu-list li:not(:last-child) {
    margin-right: 28px;

}

.nav-item {
    text-decoration: none;
    color: #000;
    line-height: 57px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 16px;
    color: var(--main-blue);
    transition: 0.2s;
}

.nav-item:hover {
    background-color: rgb(36, 144, 207);
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-item:active {
    background-color: rgb(21, 84, 121);

    transition: 0.05s ease-in-out;
}

.nav-item.gallery {
    position: relative;
}

.drop-down__gallery {
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: 0.2s all;
    top: 120%;
    width: 151px;
    border-radius: 4px;
    z-index: 10;

    background-color: var(--second-blue);
}

.drop-down__gallery ul {
    list-style: none;
    padding-left: 0;
}

.drop-down__gallery ul a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: #fff;
}


.drop-down__item {
    display: block;
    box-sizing: border-box;
}

.drop-down__item a:hover {
    color: var(--second-blue);
    background-color: #fff;
}



.drop-down__item {
    width: 100%;
}

.drop-down__item a {

    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 36px;
    padding-left: 16px;
    transition: 0.1s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.burger-menu {
    background-color: #fff;
    border: none;
    display: none;
}

.burger-menu svg {
    width: 55px;
    height: 55px;
    color: var(--second-blue);
}

@media (max-width: 992px) {
    .burger-menu {
        display: block;
        transform: translate(50%, 5%)
    }



    /* .menu {
        display: none;
    } */
    .menu-list {
        display: block;
        position: absolute;
        right: 0;
        transform: translateY(57px);
    }

    .menu-list li:not(:last-child) {
        margin: 0;
    }

    .menu-list li {
        display: flex;


        justify-content: flex-end;
    }
}




.title-section {
    display: block;
    width: calc(100%-40px);
    height: 440px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('../img/main.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 18%;
    padding-left: 40px;
}




.title-heading {
    margin: 0;
    display: inline-block;
    font-size: 64px;
    color: #fff;
    z-index: 10;
    margin-bottom: 60px;
}

.donate-btn {
    padding: 16px 32px;
    font-size: 1.5rem;
    background-color: var(--second-blue);
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    transition: 0.2s background-color;
    cursor: pointer;
    margin-right: 32px;
}

.donate-btn:hover {
    background-color: rgb(21, 84, 121)
}

.donate-btn:active {
    background-color: rgb(18, 68, 97);
    transition: 0.05s ease-in-out;
}

.contact-btn {
    padding: 16px 32px;
    font-size: 1.5rem;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    color: var(--second-blue);
    transition: 0.2s background-color;
    cursor: pointer;
    margin-right: 32px;
}

.contact-btn:hover {
    background-color: rgb(192, 192, 192);
}


.descr-section {
    padding: 52px 40px 16px 40px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.87),
            rgba(0, 0, 0, 0.87)), url(../img/volunteerhands.jpg); */
    background-color: rgb(247, 247, 247);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
}

.content {
    color: rgb(14, 14, 14);
}

.descr-heading {
    display: block;
    text-align: center;
    font-size: 3.5rem;
    color: rgb(14, 14, 14);;
    margin-bottom: 16px;
    overflow: hidden;
}




.descr-text {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 65px;
}


.social-media-list {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

i.fab {
    font-size: 3rem;
    cursor: pointer;
}


.fa-facebook {
    color: rgb(66, 103, 178);
}

.fa-instagram {
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-linkedin {
    color: rgb(40,103,178);
}
.fa-google-plus-g {
    color: #db4a39;
}
.fa-reddit {
    color: #FF4500;
}
.fa-telegram {
    color: #0088CC;
}
.fa-discord {
    color: #7289DA;
}
.fa-twitter {
    color: 	#1DA1F2;
}
.fa-youtube {
    color: 	#FF0000;
}
.why-us-section {
    padding: 0 40px;
    overflow: hidden;
}

.swiper {
    width: 100%;
  }
.first-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.87),
            rgba(0, 0, 0, 0.87)), url(../img/water-pollution.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}
.second-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.87),
            rgba(0, 0, 0, 0.87)), url(../img/Pollution\ Background.png);
            background-repeat: no-repeat;
            background-size: cover;
}
.third-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.87),
            rgba(0, 0, 0, 0.87)), url(../img/6412407.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}

.acc-section {
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    height: 350px;
}

.acc-heading {
    font-size: 2.2rem;
    text-align: center;
}

.accordion {
    padding: 8px 16px;
    background-color: rgb(226, 225, 225);
    position: relative;
}

.acc-content {
    padding: 8px 16px;
    display: none;
}

.acc-content.active {
    display: block;
}

.accordion:after {
    content: '\02795';
    display: inline-flex;
    justify-content: right;
}

.active:after {
    content: "\2796";
}









.footer {
    background-color: rgb(74, 139, 226);
    color: #fff;
    margin: 0;
    padding-bottom: 12px;
}

.sign-up {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
}

.sign-up__header {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 14px;
}

.sign-up__text {
    margin: 0 0 16px 0;

}

.email-input {
    color: #fff;
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    height: 32px;
    margin-bottom: 14px;
}

.email-input::placeholder {
    color: #fff;
}

.email-input:focus {
    outline: none;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 4px 16px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.2s background-color;
}

.submit-btn:hover {
    background-color: #fff;
    color: var(--second-blue);
}

.footer-menu__list {
    min-width: 85%;
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.footer-menu__list li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 8px 16px;
    transition: 0.2s;
}

.footer-menu__list li a:hover {
    color: var(--second-blue);
    background-color: #fff;
}

.pop-up {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: red;
}

.slide-content {
    display: flex;
}
.slide__img {
    width: 40%;
    height: 520px;
    margin: 40px 20px 40px 40px;
}
.slide__text {
    margin: 40px 40px 40px 20px;
    color: white;
}
.slide__heading {
    font-size: 3rem;
    text-align: center;
}
.swiper-slide {
    height: 600px;
}
.slide__descr {
    font-size: 1.6rem;
    text-align: left;
}
.slide-btn {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px 20px;
    font-size: 2rem;
    background-color: var(--main-blue);
    border: 0;
    cursor: pointer;
    transition: .2s background-color;
    color: #000;
}
.slide-btn:hover {
    background-color: rgb(29, 92, 175);
    transition: .2s background-color;
}
.swiper-button-prev {
    transform: translateY(-50%);
}
.swiper-button-next {
    transform: translateY(-50%);
}